{% extends 'main.html' %}

{% block content %}
<h1>Home Page</h1>


<section class="container--event">
    <h3>Event</h3>
    <div class="event--lists">
    {% for event in events %}
    <a href="{% url 'event' event.id %}">
          <div class="wrapper--event">
            <h3>{{event.name}}</h3>
            <small>
            <p>{{event.participants.count}} Registered</p>
            <p>Registration deadline: {{event.registration_deadline}}</p>
        </small>
        </div>
        </a>
    {% endfor %}
</div>
</section>

<section>
    <h3>Users</h3>
    <div class="users--lists section">
    {% for user in users %}
    <a href="{% url 'profile' user.id %}">
    <div class="wrapper--user">
    <img class="user--avatar--sm" src="{{user.avatar.url}}"><h4>{{user.name}}</h4></div>
    </a>
    {% endfor %}
</div>
</section>


{% endblock %}