@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    background-color: rgb(249, 250, 251);
}
.text--success {
    color: #198715;
}
.section {
    margin: 1em 0;
}
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: gray;
    color: black;
    display: block;
    width: fit-content;
    margin: 10px;
    border:none
}
.btn--warning {
    background-color: #ffe900;
}
.btn--primary {
    background-color: steelblue;
    color: white;
}
.error {
    color: #E55D42;
}
.success {
    color: #17b222;
}
.info {
    color: #2434df;
}
.container--main {
    width: 100%;
    margin: 0 2em;
    padding: 0 1em;
}


/* NAV BAR */
nav {
    width: auto;
    padding: 1rem;
    border-bottom: 1px solid rgb(218, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}
nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

/* HOME PAGE */
.event--lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}
.wrapper--event {
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 1em;
    border-radius: 5px;
}
.user--avatar--sm {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.image-lg {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.users--lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
}
.wrapper--user {
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 1em;
    border-radius: 5px;
}
.paginator--wrapper {
    display: flex;
    flex: wrap;
}

/* EVENT PAGE STYLE */

#event--action--wrapper {
    display: flex;
    flex-wrap: wrap;
}

/* LOGIN REGISTRATION STYLE */

.login-register--container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid rgb(218, 218, 218);
    padding: 1em;
    border-radius: 5px;
}
.form--field--wrapper {
    margin: 1em;
    margin-bottom: 1em;
}
input {
    width: 100%;
}

@media (max-width:1200px) {
    .container--main {
        width: 100%;
    }
}

@media (max-width:1200px) {
    .container--main {
        width: 100%;
    }
}

@media (max-width:800px) {
    .event--lists {
        grid-template-columns: 1fr 1fr;   
    }
    .users--lists {
        grid-template-columns: 1fr 1fr 1fr; 
    }   
}

@media (max-width:600px) {
    .event--lists {
       
        grid-template-columns: 1fr;
        
    }
    .users--lists {
        
        grid-template-columns: 1fr 1fr;
     
    }
    
}